{% load static %}
<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adega</title>
    <link rel="icon" type="image/png" href="{% static 'home/images/adega_favicon.png' %}">

    <!-- Bootstrap styles -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <!-- DataTables styles -->
    <link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.2.2/sl-3.0.0/datatables.min.css" rel="stylesheet" integrity="sha384-MZTUU4w9Rnab6WfsYBXofDEVX/irP8L6cA3Qh+28BCClZ8EONTHdhe4US4hGmVst" crossorigin="anonymous">

    <!-- Adega styles -->
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">

    {% block additional_style %}
    {% endblock %}
  </head>
  <body style="padding-top: 0rem;">
    <!-- Bootstrap scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <!-- DataTables scripts -->
    <script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.2.2/sl-3.0.0/datatables.min.js" integrity="sha384-tvO3HisKISiIElG0LJEDUnwmU962Mufd53UK9x6JdflxK0lFDS+EANzfQqBgp/kd" crossorigin="anonymous"></script>

    <!--adega scripts -->
    <script src="{% static 'home/scripts/responsive_theme.js' %}"></script>
      {% block body %}
      {% endblock %}
  </body>
</html>
