{% extends 'home/menu.html' %}
{% load static %}
{% block content %}
  <h1>Ajuda</h1>

  <h2>Sobre</h2>
  <p>
    A <code>Adega</code> é um sistema de gerenciamento de inventário.
  </p>
  <p>
    O seu nome foi inspirado no local onde se armazenam bebidas, especialmente vinhos. Já que a <code>Adega</code> foi desenvolvida originalmente para gerenciar o inventário da <b>Secretaria de TI</b> da
    <a href="https://www.vinhedo.sp.gov.br/">Prefeitura de Vinhedo.</a>
  </p>
  <p>
    Além disso a Adega foi desenvolvida para atender as necessidades de uma disciplina chamada <a href="https://apps.univesp.br/o-que-e-projeto-integrador/">Projeto Integrador</a> a do Eixo de Computação da <a href="https://www.univesp.br/">Univesp</a>.
  </p>

  <h2>Quem</h2>
  <p>
    A <code>Adega</code> foi desenvolvida, no backend e front-end, por <strong>Rodrigo Viana Rocha</strong> e teve como gerentes de produto e design os demais colegas da <strong>Univesp 2025, GRUPO-012, PJI110-SALA-004</strong>:
  </p>
  <ul>
    <li>Ana Carolina Ferreira Alves Barcaro</li>
    <li>Andre Wilson Santanna Silva</li>
    <li>Carolina Ferreira Alves</li>
    <li>Daniela Almeida Vieira</li>
    <li>Jean Gustavo da Cunha Marinho</li>
    <li>Leonardo do Valle</li>
    <li>Rodrigo Viana Rocha</li>
    <li>Vanderlei Caetano de Souza</li>
    <li>Zairemylli Francislayne Carreira M Silva</li>
  </ul>
{% endblock %}
