{% extends 'home/menu.html' %}
{% load static %}
{% block content %}
  <!-- Section  -->
  <h1>Home</h1>
  <h2>Boas-vindas!</h2>
  <p style="font-style: italic;">
    Receba as boas-vindas da Adega,
    <code>
      {% if user.first_name %}
        {{ user.first_name }} {{ user.last_name }}
      {% else %}
        {{ user }}
      {% endif %}
    </code>!
  </p>
  <p>É um prazer ter você de volta conosco.</p>
  <h2>O que vamos fazer hoje?</h2>
  <p>Utilize o menu acima para navegar pelas opções disponíveis. Ele se encontra numa ordem lógica para facilitar o seu uso do sistema:</p>
  <ul>
    <li>Em <strong>Endereços</strong>, você pode inserir, editar e apagar endereços utilizados para Pessoas e Empresas.</li>
    <li>Em <strong>Pessoas</strong>, você pode inserir, editar e apagar tanto Pessoas Físicas, quanto Pessoas Jurídicas.</li>
    <li>Em <strong>Armazéns</strong>, você pode inserir, editar e apagar locais utilizados para armazen.</li>
    <li>Em <strong>Itens</strong>, você pode inserir, editar e apagar tanto Categorias de Itens, quanto Itens Individuais.</li>
    <li>Em <strong>Transações</strong> você pode registrar Entradas e Saídas de Itens em Armazéns.</li>
    <li>Finalmente, em <strong>Relatórios</strong>, você pode gerar relatórios de Estoque por Categorias ou por Itens.</li>
  </ul>
{% endblock %}