{% extends 'home/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card shadow bg-body-tertiary p-4" style="min-width: 300px; max-width: 400px;">
      <div class="d-flex justify-content-center align-items-center">
        <img src="{% static 'home/images/three_barrels_light.png' %}" alt="Logo" class="img-fluid" style="width: 80px; height: auto;">
        <h1 style="margin: 0px;">
          Adega
        </h1>
      </div>
      <h2 class="text-center">Login</h2>
      {% crispy form %}
      {% if messages %}
        {% for message in messages %}
          <!-- success messages-->
          {% if message.tags == 'success' %}
            <div class="alert alert-success" role="alert">
              {{ message }}
            </div>
          {% endif %}
          <!-- error messages-->
          {% if message.tags == 'error' %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
          {% endif %}
          <!-- warning messages-->
          {% if message.tags == 'warning' %}
            <div class="alert alert-warning" role="alert">
              {{ message }}
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock %}
