services:
  adega:
    container_name: adega
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - ADEGA_DB_HOST=postgres
      - ADEGA_DB_PORT=5432
      - ADEGA_DB_USER=${POSTGRES_USER}
      - ADEGA_DB_PASSWORD=${POSTGRES_PW}
      - ADEGA_DB_NAME=${POSTGRES_DB}
    ports:
      - "8000:8000"
    depends_on:
      - postgres
    restart: always

  postgres:
    container_name: postgres
    image: postgres:latest
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PW}
      - POSTGRES_DB=${POSTGRES_DB} #optional (specify default database instead of $POSTGRES_DB)
    ports:
      - "5432:5432"
    volumes:
    - db_data:/var/lib/postgresql/data
    restart: always

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4:latest
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_MAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_PW}
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - postgres
    restart: always


volumes:
  db_data:
  pgadmin_data:
