{% extends "home/menu.html" %}
{% block content %}
  <div class="container d-flex justify-content-center">
    <div class="card bg-body-tertiary shadow" style="width: 36rem;">
      <div class="container" style="padding: 2rem;">
        {% if messages %}
        {% for message in messages %}
          {% if message.tags == 'success' %}
            <div class="alert alert-success mt-3" role="alert">
              <b>Sucesso: </b>{{ message }}
            </div>
          {% endif %}
          {% if message.tags == 'error' %}
            <div class="alert alert-danger mt-3" role="alert">
              <b>Erro: </b>{{ message }}
            </div>
          {% endif %}
          {% endfor %}
        {% endif %}
      <h3 style="margin-bottom: 2rem;">{{ action }}</h3>
      <form method="post" novalidate>
        {% csrf_token %}
        {% load crispy_forms_tags %}
        {% crispy form %}
      </form>
    </div>
    </div>
  </div>
<script>
  $(document).ready(function () {
    $('#id_zip_code').focus();
    $('#id_zip_code').on('focusout', function () {
      const zipCode = $(this).val().replace(/\D/g, '');
      if (zipCode) {
        const url = "https://brasilapi.com.br/api/cep/v2/"+zipCode;
        $.ajax({
          url: url,
          method: 'GET',
          dataType: 'json',
          success: function (data) {
            // update input fields with the data received
            $('#id_street').val(data.street || '');
            $('#id_neighborhood').val(data.neighborhood || '');
            $('#id_city').val(data.city || '');
            $('#id_state').val(data.state || '');
            // Set the focus on the street field
            $('#id_number').focus();
            // error messsage if zip code is not found, but service is ok
            if (data.errors) {
              alert('Erro: ' + data.errors[0].message);
            }
          },
        });
      }
    });
  });
</script>
{% endblock %}
