{% extends "home/menu.html" %}
{% block content %}
  <div class="card bg-body-tertiary shadow" style="padding: 1rem;">
    <h3 style="margin-bottom: 2rem;">{{ action }}</h3>
    <p>Selecione um (ou mais) registros na tabela abaixo e clique em um dos botões para executar a ação.</p>
    <table id="data-table" class="table table-striped" style=" width:100%">
      <thead>
        <tr>
          <th>Id</th>
          <th>CEP</th>
          <th>Logradouro</th>
          <th>Número</th>
          <th>Comp.</th>
          <th>Bairro</th>
          <th>Cidade</th>
          <th>Estado</th>
          <th>País</th>
        </tr>
      </thead>
    </table>
    <div class="d-grid gap-2 d-md-flex justify-content-end" style="margin-top: 2rem;">
      <button id="create_button" class="btn btn-primary">Incluir</button>
      <button id="view_button" class="btn btn-primary">Detalhes</button>
      <button id="edit_button" class="btn btn-primary">Editar</button>
      <button id="delete_button" class="btn btn-danger">Apagar</button>
    </div>
  </div>
  <script>
    const table = new DataTable('#data-table', {
      ajax: '{% url "address_manager:list_all_api" %}',
      language: {
        url: 'https://cdn.datatables.net/plug-ins/2.2.2/i18n/pt-BR.json',
      },
      processing: true, // show loading indicator
      serverSide: true,
      pageLength: 5,
      lengthMenu: [5, 10, 25, 50, 100],
      select: {
        style: 'multi',
      },
    });

    // Visually Enable View and Edit buttons according to the selected rows
    // on select and deselect events
    function updateButtons() {
      // Add the disabled attribute to all buttons
      if (selectedRowsIds.length === 0) {
        $ ( "#view_button" ).prop('disabled', true);
        $ ( "#edit_button" ).prop('disabled', true);
        $ ( "#delete_button" ).prop('disabled', true);
      }
      // selectedRowsIds length is 1
      // Remove disable attribute from View, Edit and Delete buttons
      if (selectedRowsIds.length === 1) {
        $ ( "#view_button" ).prop('disabled', false);
        $ ( "#edit_button" ).prop('disabled', false);
        $ ( "#delete_button" ).prop('disabled', false);
      }
      // selectedRowsIds length is greater than 1
      // Add disable attribute to View and Edit
      // remove disable attribute from Delete button
      if (selectedRowsIds.length > 1) {
        $ ( "#view_button" ).prop('disabled', true);
        $ ( "#edit_button" ).prop('disabled', true);
        $ ( "#delete_button" ).prop('disabled', false);
      }
    }

    // Array to store selected row IDs
    let selectedRowsIds = [];
    updateButtons();

    // Listen for the 'select' event
    table.on('select', function(e, dt, type, indexes) {
      if (type === 'row') {
        // Get the data of the selected row
        var rowData = table.rows(indexes).data().toArray();

        // Check if rowData is not empty and has at least one element
        if (rowData.length > 0 && rowData[0].length > 0) {
          // Get the content of the first cell (index 0 = id)
          // of the first selected row
          var firstCellContent = rowData[0][0];

          // if the first cell content is not already in
          // the selectedRowsIds array, add it
          if (!selectedRowsIds.includes(firstCellContent)) {
            selectedRowsIds.push(firstCellContent);
          }
          updateButtons();
        }
      }
    });

    // Listen for the 'deselect' event
    table.on('deselect', function(e, dt, type, indexes) {
      if (type === 'row') {
        // Get the data of the selected row
        var rowData = table.rows(indexes).data().toArray();

        // Check if rowData is not empty and has at least one element
        if (rowData.length > 0 && rowData[0].length > 0) {
          // Get the content of the first cell (index 0) of the
          // first selected row
          var firstCellContent = rowData[0][0];

          // if the first cell content is in the selectedRowsIds array,
          //  remove it
          if (selectedRowsIds.includes(firstCellContent)) {
            selectedRowsIds = selectedRowsIds.filter(function(item) {
              return item !== firstCellContent;
            });
            updateButtons();
          }
        }
      }
    });

    // Listen for the click event on the buttons View, Edit and Delete
    // and redirect to the respective URL if the button is clicked and is
    // not disabled, using jQuery
    $(document).ready(function() {
      $( '#create_button' ).click(function() {
          url_create_new = '{% url "address_manager:create_new" %}';
          window.location.href = url_create_new;
      });
      $('#view_button').click(function() {
        if (!$(this).prop('disabled')) {
          url_view_id = '/address_manager/view/'
          window.location.href = url_view_id + selectedRowsIds[0] + '/';
        }
      });

      $('#edit_button').click(function() {
        if (!$(this).prop('disabled')) {
          url_edit_id = '/address_manager/edit/'
          window.location.href = url_edit_id + selectedRowsIds[0] + '/';
        }
      });

      $('#delete_button').click(function() {
        // Show confirmation dialog before deletion
        // it shows the total number of selected rows
        if (selectedRowsIds.length > 1) {
          var isConfirmationOk = confirm('Você tem certeza que deseja apagar '
            + selectedRowsIds.length + ' registros?' +
          'escolhidos: ' + selectedRowsIds.join(', '));
        } else {
          var isConfirmationOk =
           confirm('Você tem certeza que deseja apagar o registro ' +
           selectedRowsIds[0] + '?');
        }
        if (!$(this).prop('disabled') && isConfirmationOk) {
          // Send a POST request to the delete URL with the selected row IDs
          $.ajax({
            url: '{% url "address_manager:delete_bulk" %}',
            type: 'POST',
            data: {
              'selected_rows': selectedRowsIds,
              'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
              // Reload the table after successful deletion
              table.ajax.reload();
              selectedRowsIds = [];
              updateButtons();
            },
            error: function(xhr, status, error) {
              console.error('Error deleting rows:', error);
            }
          });
        }
      });
    });
  </script>
{% endblock %}
